<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.fau.lasseter.tofly2016">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/TransparentTheme">
        <activity android:name=".MainMenu"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".credits">
        </activity>
        <activity android:name=".chronology">
        </activity>
        <activity
            android:name="edu.fau.lasseter.tofly2016.QuizActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="edu.fau.lasseter.tofly2016.ResultActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="edu.fau.lasseter.tofly2016.correctanswer"
            android:parentActivityName="edu.fau.lasseter.tofly2016.QuizActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fau.lasseter.tofly2016.QuizActivity" />
        </activity>
        <activity
            android:name="edu.fau.lasseter.tofly2016.IncorrectAnswer"
            android:parentActivityName="edu.fau.lasseter.tofly2016.QuizActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fau.lasseter.tofly2016.QuizActivity" />
        </activity>
        <receiver android:name="edu.fau.lasseter.tofly2016.MyBroadcastReceiver">
            <intent-filter>
                <action android:name="com.example.tofly2016"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>